[include mainsail.cfg]

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 6000
max_z_velocity: 25
max_z_accel: 350
square_corner_velocity: 5.0


[include printer-board-cb1.cfg]
[include printer-board-m8p.cfg]
[include printer-board-ebb.cfg]
[include macros.cfg]

[idle_timeout]
timeout: 1800

[force_move] 
enable_force_move: true

[safe_z_home]
home_xy_position: 150,150
speed: 300
z_hop: 10

[probe]
pin: ^ebb:gpio22
x_offset: 0
y_offset: 0
z_offset: -1.900
lift_speed: 30
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

[quad_gantry_level]
gantry_corners:
	-60,-10
	360,370
points:
	50,25
	50,225
	250,225
	250,25
speed: 300
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10

[bed_mesh]
speed: 300
horizontal_move_z: 3
mesh_min: 10,10
mesh_max: 290,290
probe_count: 7,7
adaptive_margin: 5
mesh_pps: 2, 3
algorithm: bicubic
bicubic_tension: 0.2


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 82.2
#*# shaper_type_y = mzv
#*# shaper_freq_y = 36.0
#*#
#*# [extruder]
#*# pid_kp = 18.983
#*# pid_ki = 1.140
#*# pid_kd = 79.013
#*#
#*# [heater bed]
#*# pid_kp = 57.369
#*# pid_ki = 2.533
#*# pid_kd = 324.854
